.banner{
    background:
        // linear-gradient(
        //   180deg,
        //   rgba(0, 0, 0, 0.00) -13.21%, #000 100%
        // ),
        url('../../assets/backgrounds/bgBanner.png'), no-repeat;
    min-height: 47.25rem;
    background-position: left top;
    background-size: cover;

    h1{
        margin-bottom: 1.8rem;
    }

    p{
        margin-bottom: 1.8rem;
        max-width: 85%;
    }
}

.quemSomos{
    background-color: #131313;

    .columns{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
