.banner{
    background:
        // linear-gradient(
        //   180deg,
        //   rgba(0, 0, 0, 0.00) -13.21%, #000 100%
        // ),
        url('../../assets/backgrounds/bgBanner.png'), no-repeat;
    min-height: 47.25rem;
    background-position: left top;
    background-size: cover;

    h1{
        margin-bottom: 1.8rem;
    }

    p{
        margin-bottom: 1.8rem;
        max-width: 85%;
    }
}

.quemSomos{
    background-color: #131313;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .bd-content{
        max-width: 950px;

        .columns{
            margin: 0px;

            p{
                line-height: 1.875rem;
            }
    
            img{
                object-fit: cover;
                width: 100%;
                max-width: 215px;
                max-height: 195px;
                border-radius: 1.9375rem;
            }
        }
    }

    &__descricao{
        max-width: 21.8125rem;
        margin: 0 auto;

        &--item{
            font-size: 0.875rem;
        }

        svg{
            margin-right: 0.65rem;
        }
    }
}

.faleConosco{
    background-color: #131313;
    padding-top: 3rem;
    padding-bottom: 3rem;

    &__form{
        width: 100%;
    }
}
