header{
    width: 100%;
    position: fixed;
    margin-top: 2rem;

    .navbar{
        background-color: transparent;

        .navbar-item{
            color: #FFF;

            img{
                max-height: auto;
            }
        }
    }
}