header{
    width: 100%;
    background-color: #131313;
    z-index: 1;
    position: relative;

    .navbar{
        background-color: #131313;
        min-height: 5rem;

        .navbar-item{
            color: #FFF;
            transition: 100ms linear;

            &:hover{
                color: #131313;
            }

            span{
                font-family: 'Rubik', sans-serif;
                font-size: 1.82181rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            img{
                max-height: none;
                margin-right: 0.3rem;
            }
        }
    }
}
